# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*
server.log

# Build files
dist/
build/

# Temporary files
tmp/
*.swp
*.swo
*.swn

# Database files
*.sqlite
*.sqlite3
db.sqlite
db.sqlite3
__pycache__/

# VS Code settings
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Misc
coverage/
